@import "@/styles/_variables.scss";
//@import "@/assets/fonts/Lato/stylesheet.scss";

// Типографика
h1 {
  font-weight: 500;
  font-size: 38px;
  line-height: 45.6px;
  //font-family: Lato;
}

h2 {
  font-weight: 500;
  font-size: 38px;
  line-height: 45.6px;
}

h3 {
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
}

h4 {
  font-weight: normal;
  font-size: 21px;
  line-height: 25px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

small {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;

  .danger {
    color: $red;
  }
}

p strong {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

a {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-decoration: underline;
}

h3 a {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
  text-decoration: underline;
}

small p a {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-decoration: underline;
}

// Кнопки
.btn {
  display: block;
  size: 16px;
  line-height: 18px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-primary {
  color: $white;
  background: $violet_2;
  border: 1px solid $violet_2;
  &:hover {
    background: $violet_3;
  }
  &:disabled {
    background: $violet;
    color: $gray_3;
  }
}

.btn-alternate {
  color: $violet_2;
  background: transparent;
  border: 1px solid $violet_2;
  &:hover {
    color: $violet_3;
    border: 1px solid $violet_3;
  }
  &:disabled {
    color: $violet;
    border: 1px solid $violet;
  }
}

.notification {
  color: $white;
  background: $violet_2;
  border-radius: 10px;
  padding: 2%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  &_footer {
    display: flex;
    color: $gray_3;
  }
}

.card {
  background: $violet;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1.5%;
  display: flex;
  margin-bottom: 1%;
  align-items: center;
  &_img {
    border-radius: 100%;
    width: 100%;
    width: 15%;
  }
  &_body {
    color: $white;
    width: 75%;
  }
  &_action {
    color: $bright_violet;
    width: 10%;
    font-size: 30px;
  }
}

// Формы
.form-group {
  margin-bottom: 1rem;
}

.form-name {
  color: $black;
  margin-bottom: 1rem;
}

.form-control {
  display: block;
  position: relative;
  border: 1px solid $gray_3;
  background: $white;
  padding: 1%;
  border-radius: 10px;
  box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11);
  &:focus {
    border: 1px solid $bright_violet;
    color: $bright_violet;
  }
}

.form-control-touch {
  border: 1px solid $bright_violet;
  color: $bright_violet;
}

.form-control-danger {
  border: 1px solid $red;
}

.form-text {
  font-size: 0.8rem;
  color: $bright_violet;
}

.form-text-danger {
  color: $red;
}

.box-label input[type="checkbox"] {
  display: none;
}

.box-label {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}

#checkbox:checked+.box::before {
  background: url("../assets/check-square.svg");
  color: $violet;
  animation: checkanimate 200ms;
}

.box::before {
  background: url("../assets/square.svg");
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-right: 5px;
  width: 1em;
  display: inline-block;
  font-size: 1.6em;
}

@keyframes checkanimate {
  0% {
    transform: scale(0);
  }

  90% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}