// Основные цвета
$dark_blue: #20163a;
$violet: #3b235a;
$violet_2: #52307d;
$violet_3: #693ea0;
$red: #da3667;
$blue: #147cab;
$bright_blue: #7299eb;
$bright_violet: #c464ff;
$black: #222123;
$gray_4: #495057;
$gray_3: #acb5bd;
$gray_2: #dde2e5;
$white: #fff; 