// Основные цвета
$dark_blue: #20163a;
$violet: #3b235a;
$violet_2: #52307d;
$violet_3: #693ea0;
$bright_violet: #c464ff;
// Оттенки синего
$blue: #147cab;
$bright_blue: #7299eb;
// Оттенки красного
$red: #da3667;
$bright_red: #E57697;
$dark_red: #B81C4B;
// Оттенки серого
$black: #222123;
$dark_grey: #495057;
$gray: #ACB5BD;
$light_grey: #DDE2E5;
$white: #fff; 