// Основные цвета
$dark_blue: #20163a;
$violet: #3b235a;
$violet_2: #52307d;
$violet_3: #693ea0;
$bright_violet: #c464ff;
// Оттенки синего
$blue: #147cab;
$bright_blue: #7299eb;
// Оттенки красного
$red: #da3667;
$bright_red: #e57697;
$dark_red: #b81c4b;
// Оттенки серого
$black: #222123;
$dark_grey: #495057;
$gray: #acb5bd;
$gray_2: #acb5bd;
$gray_3: #acb5bd;
$gray_4: #acb5bd;
$light_grey: #dde2e5;
$white: #fff;
