$topBarHeight: 60px;
$sideBarWidth: 260px;
$scrollBarVerticalWidth: 17px;

$smPhonesBreakpoint: 320px;
$mostPhonesBreakpoint: 480px;
$tabletBreakpoint: 768px;
$smDesktopBreakpoint: 992px;
$lgDesktopBreakpoint: 1200px;
